/* General Navbar styling */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(0, 191, 255);
    color: black;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: 'Raleway', arial, sans-serif
  }

  .nav-links a:hover {
    color: rgb(87, 87, 87); /* Hover color */
  }
  
  .mobile-menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Mobile view */
  @media (max-width: 790px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: #333;
    }
  
    .nav-links-mobile {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  }
  